#clock{
	margin-left: 230px;
	margin-top: 300px;
}

 a{
	text-decoration: none;
    color: white;
    font-size: 120px;
    width: 520px;
    height: 141px;
    background-color: #00c7ff;
    border-radius: 27px;
    position: relative;
    top: 160px;
    float: left;
    left: 222px;
    text-align: center;
}